:root {
    --color-gray: rgb(100, 100, 100);
    --color-dark-gray: rgba(51, 51, 51, 1);
    --color-black: rgb(0, 0, 0);
}

body {
    font-family: 'Mukta', sans-serif;
    font-size: 1em;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 5em;
    color: var(--color-black);
}

a {
    color: var(--color-gray);
    text-decoration: none;
}

a:visited {
    color: var(--color-gray);
    text-decoration: none;
}

a:hover {
    color: var(--color-dark-gray);
    text-decoration: underline;
}

#container {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border: 0.25em solid black;
}

#nameContainer {
    margin: 0;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name {
    margin: 0;
}

#links {
    margin: 0;
    height: 25%;
}

#backgroundCanvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
